* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  font-family: sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #70a30293;
  padding: 0 30px 0 40px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.right-links,
.left-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
  margin: 0 1rem 0 1rem;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.title {
  color: white;
  font-weight: bold;
}
#header-img {
  width: 15rem;
  margin: 5rem auto 5rem auto;
}
#about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 42rem;
  text-align: center;
  margin-bottom: 5rem;
}
#benefits {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  width: 42rem;
}
.well-being,
.mental,
.physical {
  border-right: 8px solid #3e8600;
  border-left: 8px solid #3e8600;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #3e860096;
  width: 10rem;
  flex: 1;
}
#meditate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  text-align: center;
  width: 41rem;
}
#user-data {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-bottom: 5rem;
  width: 42rem;
}
.img {
  width: 16rem;
}
.footer {
  text-align: center;
  background-color: #70a30293;
  width: 100vw;
  height: 10vh;
  margin: -1rem;
}
a:hover {
  color: #3e8600;
  font-style: italic;
}
.community {
  text-align: center;
}
#submit {
  background-color: #70a302a8;
  color: white;
  border: 2px solid #70a302a8;
  height: 1.5rem;
  width: 6rem;
}
